body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.col-md-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30%;
    width: 25%;
    margin-left: 36%;
}
.form-group {
    display: flex;
    flex-direction: column;

}
.form-group a {
    width: 260px;
    height: 20px;
    position: fixed;
    top: 26.5%;
}